/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Niramit);

// Font
$main-font: 'Niramit', sans-serif;

// Color
$mid-green: #8FBBB2;
$desat-blue: #67979E;
$soft-green: #AEC9C7;
$charcoal: #30424D;
$warm-yellow: #F6EDD6;
