/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Niramit);

// Font
$main-font: 'Niramit', sans-serif;

// Color
$green: #A2B7B0;
$drk-green: #7e9e64;
$drk-blue: #3e6982;
$charcoal: #30424D;
