// -----------------------------------------------------------
//				          Imports
// -----------------------------------------------------------

@import "./branding.scss";

@mixin button-spec($bg-color) {
  background: $bg-color;
  padding: 8px 25px;
  border-radius: 4px;
  border-width: 0px;
  color: $wht;
  font-weight: 500;
  transition: all 0.1s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  font-family: $main-font;
}

@mixin button-spec-hover {
  background: $drk-purple;
  color: $wht;
}

.buttons-con .action-link-wrap {
  margin-top: 40px;
}

.link-button {
  @include button-spec($drk-blu);
}
.link-button:hover {
  @include button-spec-hover;
}

.map-button {
  width: 75%;
  margin-top: 15px;
  @include button-spec($green);
  font-size: 16px;
  padding: 10px;
  font-weight: 600;
  border: 1px solid $wht;
  color: $wht;
  background-color: $green;
}
.map-button:hover {
  border: 1px solid $green;
  background-color: transparent;
  color: $green;
}

.map-button-list {
  //margin-top: 10%;
}
