// -----------------------------------------------------------
//				          Imports
// -----------------------------------------------------------

@import "./branding.scss";
@import "./buttons.scss";
@import "./intro.scss";
@import "./flex.scss";
@import "./map.scss";


// -----------------------------------------------------------
//                      Basic Page Needs
// -----------------------------------------------------------

body {
    height: 100%;
    width: 100%;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

main {
    font-family: $main-font;
}
