// -----------------------------------------------------------
//				             Map
// -----------------------------------------------------------

@import "./branding.scss";


#map-data-title {
    font-size: 1.8rem;
    color: $wht;
    background-color: $green;
    padding: 2rem 2rem;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $drk-green;
    border-opacity: 0.8;
}

.map-info {
    width: 27vw;
    border-right-style: solid;
    border-width: 1px;
    border-color: $drk-blu;
}

.map-image {
    width: 73vw;
    height: 100vh;
}

.map-data {
    padding: 1rem 1rem;
    color: $charcoal;
}
#map-data-details { font-size: 1.2rem; }


// ------------------------ Overlay -------------------------
.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    border-radius: 3px;
}

#features {
    top: 0;
    padding: 10px;
    height: 50px;
    margin: 0px 50px 40px 0px;
    width: 220px;
    margin-top: 20px;
    font-size: 0.85rem;
    color: $charcoal;
}

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 60px;
    margin: 0px 50px 40px 0px;
    width: 220px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 15px;
    height: 15px;
}

.legendKeyBox, .legendTextBox {
	justify-content: space-between;
	align-content: space-between;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.legendTextBox {
    padding-top: 5px;
    font-size: 0.85rem;
    color: $charcoal;
}


// ---------------------- Mapbox Specs ----------------------
#map {
	opacity: 0.9;
    width: 80vw;
    height: 100vh;
}

.mapboxgl-popup {
    max-width: 400px;
    font-size: 0.8rem;
    color: $charcoal;
}