// -----------------------------------------------------------
//				             Map
// -----------------------------------------------------------

@import "./branding.scss";

#map-data-title {
  font-size: 1.6rem;
  color: $black;
  padding: 0px;
  border: none;
  text-align: center;
}

#map-data-description {
  font-size: 0.9rem;
  padding: 0px;
}

.map-info {
  width: 25vw;
  min-width: 300px;
  border: none;
  box-shadow: 20px 3px 25px rgb(0, 0, 0);
}

.map-image {
  width: 75vw;
  height: 100vh;
}

.map-data {
  padding-top: 1em;
  color: $charcoal;
}

// ------------------------ Overlay -------------------------
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  border-radius: 3px;
}

#sidebar-content-container {
  padding: 1em 1.5em 0 1.5em;
}

#features {
  top: 0;
  padding: 10px;
  height: 50px;
  margin: 0px 50px 40px 0px;
  width: 220px;
  margin-top: 20px;
  font-size: 0.85rem;
  color: $charcoal;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 60px;
  margin: 0px 50px 40px 0px;
  width: 220px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 15px;
  height: 15px;
}

.legendKeyBox,
.legendTextBox {
  justify-content: space-between;
  align-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.legendTextBox {
  padding-top: 5px;
  font-size: 0.85rem;
  color: $charcoal;
}

#map-icon {
  width: 78px;
  margin: 0 auto;
  margin: 1em auto 0 auto;
}
// ---------------------- Mapbox Specs ----------------------
#map {
  opacity: 0.9;
  width: 80vw;
  height: 100vh;
}

.mapboxgl-popup {
  max-width: 400px;
  font-size: 0.8rem;
  color: $charcoal;
}

// ---------------------- Radar Chart ----------------------
.radarChart {
	//TODO: center RadarChart
}
