.buttons-con .action-link-wrap {
  margin-top: 40px;
}

.link-button {
  background: #709397;
  padding: 8px 25px;
  border-radius: 4px;
  border-width: 0px;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.1s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Muli";
}

.link-button:hover {
  background: #5a5c6c;
  color: #ffffff;
}

.map-button {
  width: 75%;
  margin-top: 15px;
  background: #a2b7b0;
  padding: 8px 25px;
  border-radius: 4px;
  border-width: 0px;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.1s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Muli";
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #a2b7b0;
}

.map-button:hover {
  border: 1px solid #a2b7b0;
  background-color: transparent;
  color: #a2b7b0;
}

.map-button:hover {
  background: #5a5c6c;
  color: #ffffff; }

.map-button-list {
  margin-top: 10%; }

#intro-bg {
  background-color: #a2b7b0;
}

#hexa {
  margin-top: -250px;
  margin-left: -400px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.message-box {
  height: 200px;
  width: 380px;
  margin-top: -100px;
  margin-left: 50px;
  color: #fff;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
}

.message-box h1 {
  font-size: 3rem;
  line-height: 46px;
  margin-bottom: 40px;
}

.message-box p {
  font-weight: 400;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
  animation-delay: 0.2s;
}

#Polygon-3 {
  animation-delay: 0.4s;
}

#Polygon-4 {
  animation-delay: 0.6s;
}

#Polygon-5 {
  animation-delay: 0.8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}

/* -------------------------------------------
				Flexbox Basics
------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

._space-between {
  justify-content: space-between;
  align-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

._space-around {
  justify-content: space-around;
  align-content: space-around;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

._direction-column {
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

._direction-row {
  -webkit-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

._justify-center {
  justify-content: center;
  align-content: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

._justify-right {
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#map-data-title {
  font-size: 1.8rem;
  color: #000;
  padding: 32px;
  border: none;
  text-align: center;
}

#map-data-description {
  font-size: 0.98rem;
  padding: 20px 40px;
}

.map-info {
  width: 25vw;
  border: none;
  box-shadow: 20px 3px 25px black;
}

.map-image {
  width: 75vw;
  height: 100vh;
}

.map-data {
  color: #30424d;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  border-radius: 3px;
}

#features {
  top: 0;
  padding: 10px;
  height: 50px;
  margin: 0px 50px 40px 0px;
  width: 220px;
  margin-top: 20px;
  font-size: 0.85rem;
  color: #30424d;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 60px;
  margin: 0px 50px 40px 0px;
  width: 220px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 15px;
  height: 15px;
}

.legendKeyBox,
.legendTextBox {
  justify-content: space-between;
  align-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.legendTextBox {
  padding-top: 5px;
  font-size: 0.85rem;
  color: #30424d;
}

#map-icon {
  width: 75px;
  margin: 0 auto;
}

#map {
  opacity: 0.9;
  width: 80vw;
  height: 100vh;
}

.mapboxgl-popup {
  max-width: 400px;
  font-size: 0.8rem;
  color: #30424d;
}

.map-info #exit_button {
  width: 40px;
  margin-left: auto;
  margin-top: 2px;
  margin-right: 2px;
}

body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  font-family: "Muli";
}
